body {
    padding: 0;
    margin: 0;
}

.headerContainer {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
    background-color: #1F2937;
}

.headerLogo {
    margin: auto auto auto 100px;
    grid-column: span 4;
}

.headerItem {
    margin: 10px;
    grid-row: span 1;
}

div.headerContainer p {
    color: #E5E7EB;
    font-size: 18px;
}

.firstContainer {
    display: flex;
    flex-direction: row;
    background-color: #1F2937;
}

.firstContainer h1,
.firstContainer h4 {
    color: #E5E7EB;
}

.fCItem {
    flex: 1 1 auto;
    height: 200px;
    width: 400px;
    margin: 100px;
}

.fCItemPlaceholder {
    height: 200px;
    width: 400px;
    background-color: rgb(112, 120, 135);
    margin: 100px;
    margin-right: 300px;
    text-align: center;
}

.fCItemPlaceholder p {
    color: #E5E7EB;
}

.secondContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.secondContainerInside {
    display: flex;
    flex-direction: row;;
    margin: 50px;
    align-items: center;
    justify-content: space-between;
}

#sCTitle {
    width:100%;
    text-align: center;
}

.sCItem {
    height: 100px;
    width: 100px;
    border-style: solid;
    border-color: blue;
    justify-content: space-between;
    border-radius: 10px;
    margin: auto;
}

td {
    text-align: center;
    align-items: center;
    justify-content: center;
}

td p {
    width:40%;
}

.signupButton {
    color: #E5E7EB;
    background-color: #3882F6;
    border: none;
    padding: 10px;
    border-radius: 5px;
    width: 120px;
    height: 35px;
}

.quoteDiv {
    width: 100%;
    height: 200px;
    background-color: #E5E7EB;
    text-align: center;
}

.thirdContainer {
    display: flex;
    flex-direction: row;
    height: 250px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}

.thirdContainerInside {
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    background-color: #3882F6;
    width: 70%;
    height: 150px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.tCItem {
    margin: auto;
}

.tCItem h1,
.tCItem p {
    color:#E5E7EB;
}

.signupFooterButton {
    background-color: #3882F6;
    border-style: solid;
    border-color:#E5E7EB;
    border-radius: 5px;
    color: #E5E7EB;
}

.footer {
    width: 100%;
    height: 50px;
    background-color: #1F2937;
    text-align: center;
}

.footer p {
    color: #E5E7EB;
    top: 50%;
    transform: translateY(100%);
}